/* ------------------------------------------- */
/* ------------------ MAIN ------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ----------------- VARIABLES --------------- */
/* ------------------------------------------- */
/* ------------------- COLOR ----------------- */
/* --------------- TYPOGRAPHY ---------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet');
/* ------------------------------------------- */
/* --------------- TYPOGRAPHY ---------------- */
/* ------------------------------------------- */
h1,
h2,
p,
input,
ul,
li,
form {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 1.4em;
  font-weight: 400;
  color: #707070;
}

h2 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: #707070;
  margin-top: 40px;
}

p,
ul,
li,
input,
form {
  font-size: 1em;
  font-weight: 400;
  color: #707070;
}

/* ------------------------------------------- */
/* --------------- NAVIGATION ---------------- */
/* ------------------------------------------- */
.top-nav {
  background: #7576BE;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.top-nav a p {
  margin: 0 auto;
}

.member-profile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-nav {
  background: #4D4A77;
  margin: 0 auto;
  padding: 12px 10px;
  display: flex;
}

.side-nav ul {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.side-nav li {
  list-style: none;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
}

.member-profile-picture {
  width: 30px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
}

.profileName {
  text-decoration: none;
  color: #FFF;
  display: inline-block;
}

/* ------------------------------------------- */
/* ------------------- SVGS ------------------ */
/* ------------------------------------------- */
/* ----------------- DASHBOARD --------------- */
.iconDashboardPath,
.iconMembersPath,
.iconVisitsPath,
.iconSettingsPath {
  fill: #FFF;
}

.notificationBell {
  width: 30px;
  height: auto;
}

#iconDashboard,
#iconMembers,
#iconVisits,
#iconSettings {
  width: 50px;
  height: auto;
}

/* --------------- SOCIAL STATS --------------- */
#twitter-icon,
#facebook-icon,
#googlePlus-icon {
  width: 80px;
  height: 80px;
  margin: auto 10px;
}

#twitter-icon circle,
#facebook-icon circle,
#googlePlus-icon circle {
  fill: #7576BE;
}

.twitter-block,
.facebook-block,
.googlePlus-block {
  background: #FBFBFB;
  width: 100%;
  max-width: 350px;
  height: auto;
  padding: 20px 10px;
  margin: 20px auto;
  border: 1px solid #B3B2B6;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  fill: #FFF;
}

.stat-Name-Number {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-align: left;
}

.stat-name {
  line-height: 1.1;
  font-size: 1.2em;
  font-weight: 600;
  color: #7576BE;
  margin: 0 auto 0 0;
}

.stat-numbers {
  line-height: 1.1;
  color: #707070;
  font-size: 3em;
  font-weight: 300;
  margin: 0 auto;
}

/* ------------------------------------------- */
/* --------------- NEW MEMBERS --------------- */
/* ------------------------------------------- */
.new-member-block {
  padding: 20px 0;
  border-bottom: 1px solid #B3B2B6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.new-member-block:last-child {
  border: none;
  margin-bottom: 20px;
}

.member-name-and-contact {
  margin: 10px 0 0 0;
  flex-direction: column;
}

.member-name-and-contact p {
  margin: 0 auto;
}

.member-name-and-contact a {
  font-size: 0.9em;
  margin: 0 auto;
  line-height: 1;
  text-decoration: none;
  color: #7576BE;
}

.joined-date {
  font-size: 0.9em;
  margin: 20px 0 0 0;
}

/* ------------------------------------------- */
/* ------------- RECENT ACTIVITY ------------- */
/* ------------------------------------------- */
.recent-activity-block {
  padding: 20px 40px 20px 0;
  background-image: url(../icons/icon-arrow-right.svg);
  background-position: 50% 100%;
  border-bottom: 1px solid #B3B2B6;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.recent-activity-block:last-child {
  border: none;
  margin-bottom: 20px;
}

.recent-activity-list {
  margin: 10px 0 0 0;
}

.hour-active {
  font-size: 0.9em;
  margin: 0;
}

/* ----------------- GLOBAL ------------------ */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

img {
  border-radius: 50%;
}

.member-profile-picture {
  width: 44px;
  height: auto;
  margin-right: 10px;
}

.yourApp {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #FFF;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.division {
  border-top: 1px solid #B3B2B6;
}

/*# sourceMappingURL=styles.css.map */
