/* ------------------------------------------- */
/* ------------- DASHBOARD HEADING ----------- */
/* ------------------------------------------- */

.dashboard-wrapper {
  background-color: $primary-transparent;
}

.dashboard-tab {
  background-color: red;
}

.searchContainer {
  width: 100%;
  max-width: 350px;
  padding: 0 0.5em;
  margin-bottom: 10px;
  background-color: $white;
  display: inline-flex;
  flex: 1 1 300px;
  border: 1px solid $light-grey;
  border-radius: 5px;
  overflow: hidden;
}

.searchIcon {
  padding: 0.5em;
  color: $primary-color;
}

.searchBox {
  border: 0;
  padding: 0.5em 0.5em 0.5em 0;
  flex: 1;
}