/* ------------------------------------------- */
/* --------------- NAVIGATION ---------------- */
/* ------------------------------------------- */

.top-nav {
  background: $primary-color;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-nav a p {
  margin: 0 auto;
}

.member-profile-and-notifications {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.member-profile-nav {
  border-left: 1px solid $light-grey;
  padding-left: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.yourApp {
  font-family: $primary-font;
  text-decoration: none;
  color: $white;
}

.side-nav-group {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.side-nav {
  width: 100%;
  background: $secondary-color;
  margin: 0;
  padding: 12px 10px 0 10px;
  display: flex;
}

.side-nav a {
  display: flex;
  align-items: center;
}

.side-nav ul {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-nav li {
  list-style: none;
}

.profileName {
  text-decoration: none;
  color: $white;
  display: inline-block;
}

@media (min-width: 768px) {
  .side-nav-group {
    width: 80px;
    margin: 0;
  }
  .side-nav {
    width: 80px;
    height: 100%;
    align-items: flex-start;
  }
  .side-nav ul {
    flex-direction: column;
  }
}
