/* ------------------------------------------- */
/* --------------- NAVIGATION ---------------- */
/* ------------------------------------------- */

.top-nav {
  background: $primary-color;
  width: 100%;
  height: 150px;
}

.side-nav {
  background: $secondary-color;
}