/* ------------------------------------------- */
/* ------------- RECENT ACTIVITY ------------- */
/* ------------------------------------------- */

.recent-activity-block {
  padding: 20px 40px 20px 0;
  background-image: url(../icons/icon-arrow-right.svg);
  background-position: 50% 100%;
  border-bottom: 1px solid $light-grey;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.recent-activity-block:last-child {
  border: none;
  margin-bottom: 20px;
}

.recent-activity-list {
  margin: 10px 0 0 0;
}

.hour-active {
  font-size: $hour-active-size;
  margin: 0;
}
