/* ------------------------------------------- */
/* ----------------- SETTINGS ---------------- */
/* ------------------------------------------- */

.toggle-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 768px) {
  .settings {
    width: 50%;
  }
}