/* ------------------------------------------- */
/* ------------------ BUTTONS ---------------- */
/* ------------------------------------------- */


button {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  background-color: $primary-color;
  border-radius: 5px;
  border: 1px solid $secondary-color;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.save-cancel {
  width: 100%;
  margin: 0 5px;
}

.cancel {
  background-color: $light-grey;
  border: 1px solid $dark-grey;
}

.slider-on-off {
  width: 100px;
  margin: auto 0 auto auto;
}

.toggle-group {
  margin-bottom: 20px;
}