/* ------------------------------------------- */
/* --------------- TYPOGRAPHY ---------------- */
/* ------------------------------------------- */

h1,
h2,
p,
input,
ul,
li,
form {
  font-family: $primary-font;
}

h1 {
  font-size: $headerOne-size;
  font-weight: $font-weight-regular;
  color: $dark-grey;
}

h2 {
  font-size: $headerTwo-size;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  color: $dark-grey;
  margin-top: 40px;
}

p,
ul,
li,
input,
form {
  font-size: $paragraph-size;
  font-weight: $font-weight-regular;
  color: $dark-grey;
}

